/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE STYLE (untuk perangkat mobile terlebih dahulu) */
html {
  font-family: 'Bebas Neue', cursive;
}

.container {
  background: red;
  height: auto;
  max-width: 100%; /* Sesuaikan dengan layar */
  margin: 0 auto;
  background-image: url("background.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.profile > img {
  height: 120px;
  width: 120px;
  border: 3px solid #222;
  border-radius: 100%;
  margin: 5px 10px;
}

.profile > p {
  font-size: 1.6em;
  font-weight: 900;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  text-transform: capitalize;
  margin: 5px 10px;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 20px 5px 10px;
}

.link > a {
  text-decoration: none;
  color: #222;
  font-size: 20px;
  text-align: center;
  border: 3px solid #222;
  background-color: #eaeaea;
  border-radius: 7px;
  margin: 5px 10px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.link > a:hover {
  background-color: azure;
}

.footer {
  text-align: center;
  margin: 20px;
}

.footer > i {
  color: white;
  font-size: 18px;
}

.footer-brand {
  color: azure;
}

/* MEDIA QUERIES UNTUK DESKTOP (LAYAR LEBIH BESAR DARI 768px) */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
    height: 100vh;
  }

  .profile {
    flex-direction: row;
    justify-content: space-between;
  }

  .profile > img {
    height: 150px;
    width: 150px;
  }

  .profile > p {
    font-size: 2em;
    text-align: left;
  }

  .link {
    flex-direction: row;
    justify-content: space-around;
  }

  .link > a {
    font-size: 18px;
    margin: 10px 5px;
  }

  .footer > i {
    font-size: 20px;
  }
}

/* MEDIA QUERIES UNTUK DESKTOP BESAR (LAYAR LEBIH BESAR DARI 1024px) */
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
    height: 100vh;
    padding: 20px;
  }

  .profile > p {
    font-size: 2.4em;
  }

  .link > a {
    font-size: 20px;
    padding: 15px;
  }
}